@media screen and (max-width:756px) {
    h1{
        font-size: 30px;
        line-height: 45px;
    }

    h2{
        font-size: 18px;
        line-height: 27px;
    }


    #page-description{
        padding: 250px 0 200px 0;
    }

    #page-description .container{
        width: 100%;
        padding: 0 20px;
    }


    
}